@charset "ISO-8859-1";

/* Googlefont Poppins CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

 

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

}

 

.welcome {

  margin-left: 350px;

  margin-top: 120px;

  color:violet;

}

 

.postprojectBTN {

  position: relative;

  left: 350px;

  color: white;

  background-color: #4CAF50;

  border: none;

  padding: 15px 32px;

  text-align: center;

  text-decoration: none;

  font-size: 16px;

  cursor: pointer;

  width:20%

}

 

 

.sidebar {

  position: fixed;

  top: 110px;

  left: 0;

  height: 87%;

  width: 240px;

  background: #006a4e;

  transition: all 0.5s ease;

  radius:4px;

}

 

 

#projectForm {

	position:relative;

  margin-top: 30px;

  padding: 15px;

  margin-left: 250px;

  height: auto;

  width: 75%;

  background-color: white;

  border-radius: 20px;

  display: block;

  

}

 

input[type="text"],

input[type="number"],

select {

  width: 100%;

  padding: 12px 20px;

  margin: 8px 0;

  display: inline-block;

  border: 1px solid #ccc;

  border-radius: 4px;

  box-sizing: border-box;

}

 

input[type="submit"] {

  width: 100%;

  background-color: #4CAF50;

  color: white;

  padding: 14px 20px;

  margin: 8px 0;

  border: none;

  border-radius: 4px;

  cursor: pointer;

}

 

input[type="submit"]:hover {

  background-color: #45a049;

}

 

.container-fluid#projectForm {

  background-color: white;

  color: black;

  font-size: 30px;

  height: 30%;

  padding: 10px;

  margin-left: 250px;

}

 

.sidebar.active {

  width: 60px;

}

 

.sidebar .logo-details {

  height: 80px;

  display: flex;

  align-items: center;

}

 

.sidebar .logo-details i {

  font-size: 28px;

  font-weight: 500;

  color: #fff;

  min-width: 60px;

  text-align: center;

}

 

.left {

  float: left;

}

 

#icon {

  margin-left: 10px;

}

 

#title {

  margin-left: 170px;

  margin-top: 20px;

}

 

#menu {

  position: relative;

  right: 0%;

}

 

.bdy::before {

  content: "";

  position: absolute;

  top: 110px;

  right: 0px;

  bottom: 0px;

  left: 0px;

  background-image: url("../images/bg.jpg");

  background-size: 80%;

  opacity: 0.5;

  cursor: pointer;

}

 

 

#webhead {

  position: fixed;

  top: 0; /* Set the fixed position from the top of the viewport */

  background: white;

  color: black;

  font-size: 30px;

  width: 100%;

  height: auto;

  padding: 10px;

  border-bottom: solid 2px black;

  z-index: 1000; /* Set a high z-index value to ensure it appears above other elements */

}

 

 

.sidebar .logo-details .logo_name {

  color: #fff;

  font-size: 24px;

  font-weight: 500;

}

 

.sidebar .nav-links {

  margin-top: 10px;

}

 

.sidebar .nav-links li {

  position: relative;

  list-style: none;

  height: 50px;

}

 

.sidebar .nav-links li a {

  height: 100%;

  width: 100%;

  display: flex;

  align-items: center;

  text-decoration: none;

  transition: all 0.4s ease;

}

 

.postInfo {

position:relative;

  margin-top: 40px;

  padding: 15px;

  margin-left: 20%;

  border-style: solid;

  border-color: black;

  border-radius: 12px;

  height: 450px;

  color:black;

  width: 1100px;

 

}

 

.sidebar .nav-links li a.active {

  background: #2BD47D;

}

 

.sidebar .nav-links li a:hover {

  background: green;

}

 

.sidebar .nav-links li i {

  min-width: 60px;

  text-align: center;

  font-size: 18px;

  color: #fff;

}

 

.sidebar .nav-links li a .links_name {

  color: #fff;

  font-size: 15px;

  font-weight: 400;

  white-space: nowrap;

}

 

.sidebar .nav-links .log_out {

  position: absolute;

  bottom: 0;

  width: 100%;
  }